.container-fluid{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.first-row, .second-row,.third-row,.fourth-row{
    border: 1px solid black;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: ;
}

img{
    padding: 2px;
    margin: 5px;
    width: 80px;
}
/* Your CSS Code here. */